<h1 class="text-center" style="padding: 2%;">Players</h1>
<div class="text-center">
<button type="button" type="submit" class="btn btn-primary btn-block mb-4" style="background-color: #3b71ca; width: 10%;">Player List</button>
&nbsp;
<button type="button" type="submit" class="btn btn-primary btn-block mb-4" style="background-color: #3b71ca; width: 10%;">Add Player</button>
&nbsp;
<button type="button" type="submit" class="btn btn-primary btn-block mb-4" style="background-color: #3b71ca; width: 10%;">Delete Player</button>

</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>23</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>25</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Page</td>
        <td>24</td>
      </tr>
    </tbody>
  </table>