<h1 class="text-center" style="padding: 2%;">Sports</h1>
<div class="text-center d-block">
<button type="button" type="submit" class="btn btn-primary btn-block mb-4" style="background-color: #3b71ca; width: 10%;">Sports List</button>
&nbsp;
<button type="button" type="submit" class="btn btn-primary btn-block mb-4" style="background-color: #3b71ca; width: 10%;">Add Sports</button>
&nbsp;
<button type="button" type="submit" class="btn btn-primary btn-block mb-4" style="background-color: #3b71ca; width: 10%;">Delete Sports</button>

</div>

<div class="row justify-content-center">
  <div class="col-4">
    <table class="table table-responsive table-bordered text-center">
      
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Age</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>23</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>25</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>Page</td>
            <td>24</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>